@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Myfont;
    src: url('./Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf');
}
*{
    font-family: Myfont;
}

.title-container{
    font-family: Myfont;
    user-select: none;
}
.title-heading{
    font-size : 5rem;
    font-weight : bold
}
.title-line{
    border: 1px solid grey;
}

.footer-container {
    background-color: black;
    color: white;
    padding: 20px 10px;
    display: flex;
    user-select: none;
}
.ourservice{
    font-size : 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    user-select: none;
}
.ourservice-title{
    color: grey;
    place-content: center;
}
.ourservice-content{
    color: black;
    float : right;
    padding-left : 20%;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: smaller;
}
.service-container{
    background-color: black;
}
.service-image{
    width: 100%;
    height: auto;
    -webkit-user-drag: none;
}
.service-classified-container {
    display: flex;
    /* grid-template-columns: auto auto; */
    color: white;
    padding : 30px 0px;
    position: relative;
    user-select: none;
}
.service-classified-title{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom :20px;
}
.service-classified-content{
    font-size : 0.8rem;
    padding-bottom: 20px;
}
.service-buttons{
    display : grid;
    grid-template-columns: auto auto auto;
    gap : 15px;
    width : fit-content;
    text-align: center;
    padding-bottom: 40px;
}
.service-classified-button{
    border : 1px solid white;
    padding :5px 10px;
    border-radius: 30px;
    font-size: 0.8rem;
}
.service-classified-button:hover{
    transition: 3s;
    transition-timing-function: linear;
    background-color: #2196f3;
    direction: rtl;
}
.service-classified-line{
    border : 1px solid white;
}
.work-highlights-marquee{
    color:white;
    display: flex;
}
.grid-container { 
    background-color: black;
    color: white;
    /* padding : 20px 10%; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-around;  */
    /* gap : 20px; */
    column-rule-style: dashed;
    user-select: none;
}

.title-grid {
    /* padding-bottom:  20px; */
    font-size : 22px;
    color: grey;
}
.title-content {
    font-size: 15px;
    padding-bottom: 20px;
}
.title {
    padding-bottom: 20px;
    font-size: 24px;
}
.brands {
    font-size: 15px;
    padding-bottom: 10px; 
    color:white;
}
.svgimg{
    float: right;
    position: relative;
    right: 50%;
}
.brands:hover{
    text-decoration: underline;
    color: white;
    
}
.contact {
    padding : 20px 10%;
    border : 1px solid white;
    padding: 20px 20px;
}
.location {
    padding : 20px 10%;
    padding: 20px 20px;
    border :  1px solid white;
}
.sitemap {
    padding : 20px 10%;
    padding: 20px 20px;
    border : 1px solid white;
}
.connect {
    padding : 20px 10%;
    padding: 20px 20px;
    border : 1px solid white;
}
.marquee-heading{
    font-size: 3.5rem;
    padding-left: 20px;
    font-weight: bold;
}
.marquee-heading:hover{
    color: blue;
}
.footer-heading {
    padding: 10px 20px;
    font-size : 5rem;
    font-weight: bold;
}
.footer-heading:hover{
    color: blue;
}
/* .service-img{
    animation : img linear;
    animation-timeline : view( );
    animation-range : entry;
} */
.footerfooter{
    -webkit-user-drag: none;
    padding:0;
    height: 100vh;
    background-color: black;
    place-content: center;
}
.carousel-css{
    height: 400px;
    width: 90%;
    /* padding:0px 5%; */
    border-radius: 20px;
}
.carousel-div{
    text-align: center;
}
li::marker{
    color: #2196f3
}
.service-classified-image {
    float: right;
    border-radius: 20px;
    -webkit-user-drag: none;
    height: 300px;
}
.data-service-image{
    padding: 20px 0px;
}
.service-types{
    place-content: center;
    padding : 0px 30px;
}
.app-container{
    padding: 20px;
    justify-content : center;
    align-items : center;
    place-content : center;
    height : 100vh;
}


@media screen and (max-width: 480px) {
    .app-container{
        padding: 20px;
        justify-content : center;
        align-items : center;
        place-content : center;
        height : 100vh;
    }
    .title-heading{
        font-size: 20px;
    }
    .ourservice{
        display: block;
    }
    .ourservice-title{
        font-size : 20px;
    }
    .ourservice-content{
        font-size: 15px;
        padding: 0;
    }
    .service-image{
        width: 100%;
    }
    .service-classified-container{
        display: block;
    }
    .service-buttons{
        display: block;
    }
    .service-classified-button{
        display: block;
        padding :10px 0px;
    }
    .service-classified-button{
        padding : 10px 10px
    }
    .service-classified-image{
        display: block;
        width: 100%;
        text-align: center
    }
    .service-classified-title{
        padding: 10px 0px;
    }
    .service-buttons{
        text-align: center;
    }
    .marquee-heading{
        font-size: 2rem;
    }
    .carousel-css{
        width: 100%;
        padding: 0px;
        border-radius: 20px;
    }
    .grid-container{
        display: block;
    }
}
